{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="grid-item">
    <article class="post-box {{post_class}} animate-up"><!-- TODO remove animate-up on index page? -->
        {{#if image}}
        <div class="post-media">
            <div class="post-image">
                <a href="{{ url }}"><img src="{{ image }}" alt="Post image"></a>
            </div>
        </div>
        {{else}}
        <div class="post-media no-media"></div>
        {{/if}}

        <div class="post-data">
            <time class="post-datetime" datetime="{{date format='YYYY-MM-DD'}}">
                <span class="day">{{date format="DD"}}</span>
                <span class="month" style="text-transform: uppercase;">{{date format="MMM"}}</span>
            </time>

            <div class="post-tag">
                {{tags prefix="#"}}
            </div>

            <h3 class="post-title">
                <a href="{{url}}">{{{title}}}</a>
                <!--<p>{{excerpt words="15"}} <a class="read-more" href="{{url}}">&raquo;</a></p>-->
            </h3>

            <div class="post-info">
                <a href="/author/{{author.slug}}"><i class="icon icon-user"></i>by {{author.name}}</a>
            </div>
        </div>
    </article>
</div>
{{/foreach}}