{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="content">
	<div class="container">

		<!-- START: PAGE CONTENT -->
		<section id="about" class="section section-about">
			<div class="animate-up">
				<div class="section-box">
					<div class="profile">
						<div class="row">
							<div class="col-xs-5">
								<div class="profile-photo"><img src="{{asset 'img/uploads/rs-photo-v1.jpg'}}" alt="Sascha Gros"/></div>
							</div>
							<div class="col-xs-7">
								<div class="profile-info">
									<div class="profile-preword"><span>Hello</span></div>
									<h1 class="profile-title"><span>I'm</span> Sascha Gros</h1>
									<h2 class="profile-position">Full Stack Web Developer and Startup Lover</h2></div>
									<ul class="profile-list">
										<li class="clearfix">
											<strong class="title">Age</strong>
											<span class="cont">28</span>
										</li>
										<li class="clearfix">
											<strong class="title">Address</strong>
											<span class="cont">Katharinenstraße 20, 73262 Reichenbach an der Fils, DE</span>
										</li>
										<li class="clearfix">
											<strong class="title">E-mail</strong>
											<span class="cont"><a href="mailto:info@gros-engineering.de">info@gros-engineering.de</a></span>
										</li>
										<li class="clearfix">
											<strong class="title">Phone</strong>
											<span class="cont"><a href="tel:+491788171987">+49 178 8171987</a></span>
										</li>
									</ul>
							</div>
						</div>
					</div>
					<div class="profile-social">
						<ul class="social">
							<li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="icon icon-facebook"></i></a></li>
							<li><a class="ripple-centered" href="https://twitter.com" target="_blank"><i class="icon icon-twitter"></i></a></li>
							<li><a class="ripple-centered" href="https://www.linkedin.com" target="_blank"><i class="icon icon-linkedin"></i></a></li>
							<li><a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="icon icon-google-plus"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="section-txt-btn">
					<p><a class="btn btn-lg btn-border ripple" target="_blank" href="/static/CV_Sascha_Gros.pdf">Download Resume</a></p>
					<p>
                        Hello! I’m Sascha Gros. Full stack web developer and data scientist.
                        Specializing in Node.js and RESTful API design. Living test-driven development.
                        Experienced with all stages of the development cycle in agile environments.
                        Well-versed in numerous programming languages and web frameworks.
                        Bringing web technology to all fields of your software needs.
                    </p>
				</div>
			</div>	
		</section><!-- #about -->
												
		<section id="skills" class="section section-skills">
			<div class="animate-up">
				<h2 class="section-title">Professional Skills</h2>
				<div class="section-box">
					<div class="row">							
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">Node.js</span>
									<span class="bar-value">90%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="90%"></span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">AngularJS</span>
									<span class="bar-value">85%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="85%"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">							
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">HTML & CSS</span>
									<span class="bar-value">90%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="90%"></span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">Javascript / Typescript</span>
									<span class="bar-value">90%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="90%"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">							
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">SharePoint</span>
									<span class="bar-value">70%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="70%"></span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="progress-bar">
								<div class="bar-data">
									<span class="bar-title">Electron.js</span>
									<span class="bar-value">80%</span>
								</div>
								<div class="bar-line">
									<span class="bar-fill" data-width="80%"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</section><!-- #skills -->
		
		<section id="portfolio" class="section section-portfolio">
			<div class="animate-up">
				<h2 class="section-title">Portfolio</h2>

				<div class="filter">
					<div class="filter-inner">
						<div class="filter-btn-group">
							<button data-filter="*">All</button>
							<button data-filter=".web">Web</button>
							<button data-filter=".native">Native</button>
							<button data-filter=".embedded">Embedded</button>
						</div>
						<div class="filter-bar">
							<span class="filter-bar-line"></span>
						</div>
					</div>
				</div>

				<div class="grid">
					<div class="grid-sizer"></div>
					
					<div class="grid-item size11 web">
						<div class="grid-box">
							<figure class="portfolio-figure">
								<img src="{{asset 'img/uploads/portfolio/1clicktrips/travel.jpg'}}" alt="Travel image"/>
								<figcaption class="portfolio-caption">
									<div class="portfolio-caption-inner">
										<h3 class="portfolio-title">1ClickTrips Business Travel</h3>
										<h4 class="portfolio-cat">Web</h4>


										<div class="btn-group">
											<a class="btn-link" href="http://www.google.com" target="_blank"><i class="icon icon-link"></i></a>
											<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline"><i class="icon icon-eye"></i></a>
										</div>
									</div>
								</figcaption>
							</figure>

							<div id="portfolio1-inline" class="fancybox-inline-box">
								<div class="inline-embed" data-embed-type="image" data-embed-url="{{asset 'img/uploads/portfolio/portfolio-thumb-05-large.jpg'}}"></div>
								<div class="inline-cont">
									<h2 class="inline-title">1ClickTrips - Business travel booking of tomorrow. Today.</h2>
									<div class="inline-text">
										<p>Bla bla</p>
									</div>
								</div>
							</div>
                        </div>
					</div><!-- .grid-item -->			
				
					<div class="grid-item size11 native">
						<div class="grid-box">
							<figure class="portfolio-figure">
								<img src="{{asset 'img/uploads/portfolio/time-tracker/stempeln.jpg'}}" alt=""/>
								<figcaption class="portfolio-caption">
									<div class="portfolio-caption-inner">
										<h3 class="portfolio-title">Time Tracker Plugin for Chrome</h3>
										<h4 class="portfolio-cat">Native</h4>

										<div class="btn-group">
											<a class="btn-link" href="http://www.google.com" target="_blank"><i class="icon icon-link"></i></a>
											<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline"><i class="icon icon-eye"></i></a>
										</div>
									</div>
								</figcaption>
							</figure>
							
							<div id="portfolio2-inline" class="fancybox-inline-box">
								<div class="inline-cont">
									<h2 class="inline-title">Time Tracker Plugin for Chrome</h2>
									<div class="inline-text">
										<p>Bla bla</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .grid-item -->
					
					<div class="grid-item size11 web">
						<div class="grid-box">
							<figure class="portfolio-figure">
								<img src="{{asset 'img/uploads/portfolio/rockit/climbing.jpg'}}" alt=""/>
								<figcaption class="portfolio-caption">
									<div class="portfolio-caption-inner">
										<h3 class="portfolio-title">Rockit Course Administration</h3>
										<h4 class="portfolio-cat">Web</h4>

										<div class="btn-group">
											<a class="btn-link" href="http://www.google.com" target="_blank"><i class="icon icon-link"></i></a>
											<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline"><i class="icon icon-eye"></i></a>
										</div>
									</div>
								</figcaption>
							</figure>

							<div id="portfolio3-inline" class="fancybox-inline-box">
                                <div class="inline-cont">
                                    <h2 class="inline-title">Course administration solution for climbing halls</h2>
                                    <div class="inline-text">
                                        <p>Bla bla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div><!-- .grid-item -->

                    <div class="grid-item size11 native web">
                        <div class="grid-box">
                            <figure class="portfolio-figure">
                                <img src="{{asset 'img/uploads/portfolio/my-patients/patient.jpg'}}" alt=""/>
                                <figcaption class="portfolio-caption">
                                    <div class="portfolio-caption-inner">
                                        <h3 class="portfolio-title">Patient Administration</h3>
                                        <h4 class="portfolio-cat">Native</h4>

                                        <div class="btn-group">
                                            <a class="btn-link" href="http://www.google.com" target="_blank"><i class="icon icon-link"></i></a>
                                            <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio4-inline"><i class="icon icon-eye"></i></a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>

                            <div id="portfolio4-inline" class="fancybox-inline-box">
                                <div class="inline-cont">
                                    <h2 class="inline-title">Patient Administration for small doctor's offices</h2>
                                    <div class="inline-text">
                                        <p>Bla bla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .grid-item -->

                    <div class="grid-item size11 native embedded">
                        <div class="grid-box">
                            <figure class="portfolio-figure">
                                <img src="{{asset 'img/uploads/portfolio/sun-tracker/solar.jpg'}}" alt=""/>
                                <figcaption class="portfolio-caption">
                                    <div class="portfolio-caption-inner">
                                        <h3 class="portfolio-title">Sun Tracker Prototype</h3>
                                        <h4 class="portfolio-cat">Native, Embedded</h4>

                                        <div class="btn-group">
                                            <a class="btn-link" href="http://www.google.com" target="_blank"><i class="icon icon-link"></i></a>
                                            <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio5-inline"><i class="icon icon-eye"></i></a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>

                            <div id="portfolio5-inline" class="fancybox-inline-box">
                                <div class="inline-cont">
                                    <h2 class="inline-title">Automated sun tracker prototype to compare different concepts</h2>
                                    <div class="inline-text">
                                        <p>Bla bla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .grid-item -->
				</div>
                <!--
				<div class="grid-more">
					<span class="ajax-loader"></span>
					<button class="btn btn-border ripple"><i class="icon icon-add"></i></button>
				</div>
				-->
			</div>	
		</section><!-- #portfolio -->
									
		<section id="experience" class="section section-experience">
			<div class="animate-up">
				<h2 class="section-title">Work Experience</h2>

				<div class="timeline">
					<div class="timeline-bar"></div>
					<div class="timeline-inner clearfix">

						<div class="timeline-box timeline-box-left">
							<span class="dot"></span>
							<div class="timeline-box-inner animate-right">
								<span class="arrow"></span>
								<div class="date">Jun 2014 - up to present</div>
								<h3>Full Stack Web Developer</h3>
								<h4>EFEXCON AG, Switzerland</h4>
								<p>Mainly working on the business travel startup of the EFEXCON AG. Bla bla</p>
							</div>
						</div>

						<div class="timeline-box timeline-box-right">
							<span class="dot"></span>
							<div class="timeline-box-inner animate-left">
								<span class="arrow"></span>
								<div class="date">Okt 2012 - Apr 2014</div>
								<h3>Software Developer and Project Manager</h3>
								<h4>Synapticon GmbH, Germany</h4>
								<p>Initially responsible for developing different parts of an online development environment for embedded systems, I was then managing a project for a customer that needed a new software for rail ticketing.</p>
							</div>
						</div>

						<div class="timeline-box timeline-box-left">
							<span class="dot"></span>
							<div class="timeline-box-inner animate-right">
								<span class="arrow"></span>
								<div class="date">Oct 2009 - Sep 2012</div>
								<h3>Student and Software Developer</h3>
								<h4>Hewlett Packard - Germany and Ireland</h4>
								<p>As a dual student with Hewlett Packard I did several short projects using a lot of different tools and programming languages. My bachelor's thesis was about SharePoint and the implementation in the public sector.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #experience -->
						
		<section id="references" class="section section-references">
			<div class="animate-up">
				<h2 class="section-title">References</h2>
				<div class="section-box">
					<ul class="ref-slider">
						<li>
							<div class="ref-box">
								<div class="person-speech">
									<p>Bla bla</p>
								</div>
								<div class="person-info clearfix">
									<img class="person-img" src="{{asset 'img/uploads/vincent.jpg'}}" alt="Headshot">
									<div class="person-name-title">
										<span class="person-name">Vincent Zerweck</span>
										<span class="person-title">Cityrock Stuttgart</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ref-box">
								<div class="person-speech">
									<p>Bla bla</p>
								</div>
								<div class="person-info clearfix">
									<img class="person-img" src="{{asset 'img/uploads/ruediger.jpg'}}" alt="Headshot">
									<div class="person-name-title">
										<span class="person-name">Rüdiger Gros</span>
										<span class="person-title">EFEXCON AG</span>
									</div>
								</div>
							</div>
						</li>
                        <li>
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>Bla bla</p>
                                </div>
                                <div class="person-info clearfix">
                                    <!--<img class="person-img" src="{{asset 'img/uploads/rs-avatar-60x60.jpg'}}" alt="Headshot">-->
                                    <div class="person-name-title">
                                        <span class="person-name">Victoria Ott</span>
                                        <span class="person-title">Independent Physiotherapist</span>
                                    </div>
                                </div>
                            </div>
                        </li>
					</ul>
					<div class="ref-slider-nav">
						<span id="ref-slider-prev" class="slider-prev"></span>
						<span id="ref-slider-next" class="slider-next"></span>
					</div>
				</div>
			</div>	
		</section><!-- #references -->																								
		
		<section id="blog" class="section section-blog">
			<div class="animate-up">
				<h2 class="section-title">From The Blog</h2>

                <div class="blog-grid">
                    <div class="grid-sizer"></div>

					{{! The tag below includes the post loop - partials/loop.hbs }}
					{{> "loop"}}
				</div>

                {{! Previous/next page links }}
                {{pagination}}
			</div>
		</section><!-- #blog -->

        <!--
		<section id="text-section" class="section section-text">
			<div class="animate-up animated">
				<h2 class="section-title">Text Section</h2>
				<div class="section-box">
					<p>Hello! I’m Robert Smith and this is custom editor section. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nuncl them Toruk Macto calls to them!</p>
				</div>
			</div>
		</section>--><!-- #text-section -->

        <!--
		<section id="calendar" class="section section-calendar">
			<div class="animate-up">
				<h2 class="section-title">Availability Calendar</h2>

				<div class="calendar-busy" data-weekstart="monday">
					<div class="calendar-today" style="background-image: url('assets/img/uploads/rs-calendar-cover.jpg')">
						<div class="valign-outer">
							<div class="valign-middle">
								<div class="valign-inner">
									<div class="date">
										<span class="day"></span>
										<span class="month"></span>
									</div>
									<div class="week-day"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="calendar-cont">
						<div class="calendar-header">
							<div class="calendar-nav">
								<span class="active-date"><span class="active-month"></span><span class="active-year"></span></span>
								<a class="calendar-prev ripple-centered" title="Prev"><i class="icon icon-chevron_left"></i></a>
								<a class="calendar-next ripple-centered" title="Next"><i class="icon icon-chevron_right"></i></a>
							</div>
						</div>

						<table class="calendar-body">
							<thead class="calendar-thead"></thead>
							<tbody class="calendar-tbody"></tbody>
						</table>
						<div class="calendar-busy-note">Sorry. I'm not available on those days</div>
					</div>
				</div>
			</div>	
		</section>--><!-- #calendar -->
		
		<section id="contact" class="section section-contact">
			<div class="animate-up">
				<h2 class="section-title">Contact Me</h2>

				<div class="row">
					<div class="col-sm-6">
						<div class="section-box contact-form">
							<h3>Feel free to contact me</h3>
							
							<form class="contactForm" action="php/contact_form.php" method="post">
								<div class="input-field">
									<input class="contact-name" type="text" name="name"/>
									<span class="line"></span>
									<label>Name</label>
								</div>

								<div class="input-field">
									<input class="contact-email" type="email" name="email"/>
									<span class="line"></span>
									<label>Email</label>
								</div>

								<div class="input-field">
									<input class="contact-subject" type="text" name="subject"/>
									<span class="line"></span>
									<label>Subject</label>
								</div>

								<div class="input-field">
									<textarea class="contact-message" rows="4" name="message"></textarea>
									<span class="line"></span>
									<label>Message</label>
								</div>

								<span class="btn-outer btn-primary-outer ripple">
									<input class="contact-submit btn btn-lg btn-primary" type="submit" value="Send"/>
								</span>
								
								<div class="contact-response"></div>
							</form>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="section-box contact-info has-map">
							<ul class="contact-list">
								<li class="clearfix">
									<strong>Address</strong>
									<span>Katharinenstraße 20, 73262 Reichenbach an der Fils</span>
								</li>
								<li class="clearfix">
									<strong>phone</strong>
									<span><a href="tel:+491788171987">+49 178 8171987</a></span>
								</li>
								<li class="clearfix">
									<strong>E-mail</strong>
									<span><a href="mailto:gros.sascha@gmail.com">gros.sascha@gmail.com</a></span>
								</li>
							</ul>

							<div id="map" data-latitude="48.709086" data-longitude="9.456838"></div>
						</div>
					</div>
				</div>
			</div>	
		</section><!-- #contact -->			
	</div><!-- .container -->
</div><!-- .content -->
