{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="content">
    <div class="container">

        <!-- START: PAGE CONTENT -->
        <div class="row animate-up">
            <div class="col-sm-8">
                <main class="post-single">
                    <article class="post-content section-box">
                        <div class="post-inner">
                            <header class="post-header">
                                <div class="post-data">
                                    <div class="post-tag">
                                        <a href="">#Photo</a>
                                        <a href="">#Architect</a>
                                    </div>

                                    <div class="post-title-wrap">
                                        <h1 class="post-title">The History and Future of Motorcycles</h1>
                                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                            <span class="day">03</span>
                                            <span class="month">MAY</span>
                                        </time>
                                    </div>

                                    <div class="post-info">
                                        <a href=""><i class="icon icon-user"></i>by admin</a>
                                        <a href=""><i class="icon icon-comments"></i>56</a>
                                    </div>
                                </div>
                            </header>

                            <div class="post-editor clearfix">
                                <p>Hello! The Sky People have sent us a message... that they can take whatever they
                                    want.<br/>
                                    That no one can stop them. </p>

                                <p>Well, we will send them a message. You ride out as fast as the wind can carry you. You
                                    tell
                                    the other clans to come. Tell them Toruk Macto calls to them! You fly now, with me! My
                                    brothers! Sisters! And we will show the Sky People... that they caWell, we will send
                                    them a
                                    message. You ride out as fast as the wind can carry you. You tell the other clans to
                                    come.
                                    Tell them Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we
                                    will
                                    show the Sky People... that they cnnot take whatever they want! And that this... this is
                                    our
                                    land!</p>
                                <blockquote>
                                    <p>"My commute is extremely short. Just 20 steps across the apartment to my office
                                        overlooking Butler St. Sometimes when I'm feeling fancy, I'll walk 2 blocks down the
                                        street for coffee first. Either way, it's very convenient."<br>
                                        <cite><a href="">John Doe</a> - Someone famous in Source Title</cite>
                                    </p>
                                </blockquote>

                                <figure id="attachment_905" style="width: 509px;" class="wp-caption alignright">
                                    <img class="size-full wp-image-905 " title="Image Alignment 509x319"
                                         alt="Image Alignment 509x319" src="img/uploads/rs-thumb-509x319.jpg" width="509"
                                         height="319">
                                    <figcaption class="wp-caption-text">Feels good to be right all the time.</figcaption>
                                </figure>

                                <p>You ride out as fast as the wind can carry you. You tell the other clans to come. Tell
                                    them
                                    Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we will show
                                    the
                                    Sky People... that they caWell, we will send them a message. You ride out as fast as the
                                    wind can carry you. You tell the other clans to come.


                                </p>

                                <h2>Tell them Toruk Macto calls to them!</h2>

                                <ul>
                                    <li>You fly now, with me;</li>
                                    <li>My brothers! Sisters;</li>
                                    <li>And we will show the Sky People.;</li>
                                    <li>That they cnnot take whatever they want.</li>
                                </ul>

                                <p>You ride out as fast as the wind can carry you. You tell the other clans to come. Tell
                                    them
                                    Toruk Macto calls to them! You fly now, with me! My brothers! Sisters! And we will show
                                    the
                                    Sky People... that they caWell, we will send them a message. You ride out as fast as the
                                    wind can carry you. You tell the other clans to come. </p>
                            </div>

                            <footer class="post-footer">
                                <div class="post-share">
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-503b5cbf65c3f4d8" async="async"></script>
                                    <div class="addthis_sharing_toolbox"></div>
                                </div>
                            </footer>
                        </div><!-- .post-inner -->
                    </article><!-- .post-content -->

                    <nav class="post-pagination section-box">
                        <div class="post-next">
                            <div class="post-tag">Previous Article <a href="">#Tagapple</a></div>
                            <h3 class="post-title"><a href="">How ipsum project web dolor sit amet</a></h3>

                            <div class="post-info">
                                <a href=""><i class="icon icon-user"></i>by admin</a>
                                <a href=""><i class="icon icon-comments"></i>56</a>
                            </div>
                        </div>
                        <div class="post-prev">
                            <div class="post-tag">Next Article <a href="">#Photography</a></div>
                            <h3 class="post-title"><a href="">project web dolor sit amet</a></h3>

                            <div class="post-info">
                                <a href=""><i class="icon icon-user"></i>by admin</a>
                                <a href=""><i class="icon icon-comments"></i>56</a>
                            </div>
                        </div>
                    </nav><!-- .post-pagination -->
                </main>
                <!-- .post-single -->
            </div>

            <div class="col-sm-4">
                <div class="sidebar sidebar-default">
                    <div class="widget-area">
                        <aside class="widget widget-profile">
                            <div class="profile-photo">
                                <img src="img/uploads/rs-photo-v2.jpg" alt="Robert Smith"/>
                            </div>
                            <div class="profile-info">
                                <h2 class="profile-title">Robert Smith</h2>
                                <h3 class="profile-position">Developer and businessman</h3>
                            </div>
                        </aside><!-- .widget-profile -->

                        <aside class="widget widget_search">
                            <h2 class="widget-title">Search</h2>
                            <form class="search-form">
                                <label class="ripple">
                                    <span class="screen-reader-text">Search for:</span>
                                    <input class="search-field" type="search" placeholder="Search">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </aside><!-- .widget_search -->

                        <aside class="widget widget_contact">
                            <h2 class="widget-title">Contact Me</h2>
                            <form class="contactForm" action="php/contact_form.php" method="post">
                                <div class="input-field">
                                    <input class="contact-name" type="text" name="name"/>
                                    <span class="line"></span>
                                    <label>Name</label>
                                </div>

                                <div class="input-field">
                                    <input class="contact-email" type="email" name="email"/>
                                    <span class="line"></span>
                                    <label>Email</label>
                                </div>

                                <div class="input-field">
                                    <input class="contact-subject" type="text" name="subject"/>
                                    <span class="line"></span>
                                    <label>Subject</label>
                                </div>

                                <div class="input-field">
                                    <textarea class="contact-message" rows="4" name="message"></textarea>
                                    <span class="line"></span>
                                    <label>Message</label>
                                </div>

                                <span class="btn-outer btn-primary-outer ripple">
                                    <input class="contact-submit btn btn-lg btn-primary" type="submit" value="Send"/>
                                </span>

                                <div class="contact-response"></div>
                            </form>
                        </aside><!-- .widget_contact -->

                        <aside class="widget widget-popuplar-posts">
                            <h2 class="widget-title">Popular posts</h2>
                            <ul>
                                <li>
                                    <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-1.jpg" alt=""/></a></div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                                <li>
                                    <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-2.jpg" alt=""/></a></div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                                <li>
                                    <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-3.jpg" alt=""/></a></div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                            </ul>
                        </aside><!-- .widget-popuplar-posts -->

                        <aside class="widget widget_tag_cloud">
                            <h2 class="widget-title">Tag Cloud</h2>
                            <div class="tagcloud">
                                <a href="" title="1 topic">Business</a>
                                <a href="" title="9 topics">City</a>
                                <a href="" title="10 topics">Creative</a>
                                <a href="" title="6 topics">Fashion</a>
                                <a href="" title="2 topics">Music</a>
                                <a href="" title="5 topics">News</a>
                                <a href="" title="9 topics">Peoples</a>
                            </div>
                        </aside><!-- .widget_tag_cloud -->

                        <aside class="widget widget-recent-posts">
                            <h2 class="widget-title">Recent posts</h2>
                            <ul>
                                <li>
                                    <div class="post-tag">
                                        <a href="">#Photo</a>
                                        <a href="">#Architect</a>
                                    </div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                                <li>
                                    <div class="post-tag">
                                        <a href="">#Photo</a>
                                        <a href="">#Architect</a>
                                    </div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                                <li>
                                    <div class="post-tag">
                                        <a href="">#Photo</a>
                                        <a href="">#Architect</a>
                                    </div>
                                    <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                                    <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
                                </li>
                            </ul>
                        </aside><!-- .widget-recent-posts -->

                        <aside class="widget widget_categories">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                                <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                                <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                                <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                                <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                                <li><a href="" title="Education Category Posts">Education</a> (9)</li>
                            </ul>
                        </aside><!-- .widget_categories -->
                    </div><!-- .widget-area -->
                </div><!-- .sidebar -->
            </div><!-- .col-sm-4 -->
        </div><!-- .row -->
        <!-- END: PAGE CONTENT -->

    </div><!-- .container -->
</div><!-- .content -->

{{/post}}


<!--
<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

                {{#if image}}
                    <figure class="author-image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    </figure>
                {{/if}}

                <section class="author">
                    <h4><a href="{{url}}">{{name}}</a></h4>

                    {{#if bio}}
                        <p>{{bio}}</p>
                    {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                        {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    </div>
                </section>

            {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                   onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
    {{/next_post}}
    {{#prev_post}}
        <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
    {{/prev_post}}
</aside>
-->